* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Sans-Serif;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

header {
  text-align: center;
  background-image: url("images/IMG_5865.jpg");
  background-size: cover;
  background-position: center center;
  padding: 70px;
}

header a {
  color: white;
  text-decoration: none;
}

nav h4 {
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

nav li {
  list-style-type: none;
}

nav li ul li {
  display: inline-block;
  padding: 5px 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
}

.weather-box {
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
  line-height: 1.4em;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 5px;
}

.weather-box img {
  width: 50px;
}

