* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 16px;
  color: #002f2f;
  background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', Sans-Serif;
}

h1 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

p {
  line-height: 1.4em;
}

a {
  color: #00a3a3;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #006b6b;
  text-decoration: underline;
}

header {
  text-align: center;
  background-image: url("images/sunrise-over-squaw.jpg");
  background-size: cover;
  background-position: center center;
  padding: 70px;
}

header a,
header p {
  color: #fcfcfc;
  text-shadow: 1px 1px 5px #808081;
}

header a:hover {
  text-decoration: none;
}

nav {
  text-align: center;
}

nav h4 {
  text-transform: uppercase;
  color: #fcfcfc;
  text-shadow: 1px 1px 5px #808081;
}

nav li {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 10px;
  background-image: url("images/sunrise-over-squaw.jpg");
  background-size: cover;
  transition: all 0.5s;
}

nav li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

nav li ul li {
  display: none;
  padding: 5px 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 30px;
}

.mtn-header h2 {
  margin-bottom: 5px;
}

.mtn-header p {
  margin: 0;
}

.current-weather h3 {
  margin-bottom: 10px;
}

.current-weather img {
  position: relative;
  float: left;
  top: -15px;
  margin-right: 10px;
}

.forecast-box {
  display: none;
  border-top: 3px solid #26c0c0;
  margin-top: 20px;
  clear: both;
}

.forecast-box h3 {
  margin: 15px;
}

.forecast-box button {
  color: #fcfcfc;
  font-size: .5em;
  padding: 6px 10px;
  border: none;
  border-radius: 15px;
  background-color: #26c0c0;
  box-shadow: 0px 3px 10px #808081;
  transition: background-color 0.3s ease;
  position: relative;
  top: -7px;
}

.forecast-box button:hover {
  cursor: pointer;
  position: relative;
  top: -6px;
  box-shadow: 0px 1px 10px #808081;
  background-color: #00a3a3;
}

.forecast-box button.selected {
  background-color: #00a3a3;
}

.weather-container {
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.weather-box {
  display: inline-block;
  text-align: center;
  font-size: 0.7em;
  line-height: 1.4em;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 5px;
}

.weather-box img {
  width: 50px;
}

.photos {
  overflow: auto;
  white-space: nowrap;
  padding: 20px 0;
}
